<!DOCTYPE html>
<html>
<head>
	<title>homework_11_12</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/carousel.css"/>
	<!-- carosel.css -->
	<script type="text/javascript" src="js/jquery-3.2.0.min.js"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/carousel.js"></script>
	<script src="js/11-12.js"></script>
</head>

<body>
	<div class="carousel clearfix">
		<div class="carousel-arrow-left"><span>Влево</span></div>
		<div class="carousel-hider">
			<ul class="carousel-list">
			  <li class="carousel-element"><img src="img/image1.jpg"><p>Описание 1</p></li>
			  <li class="carousel-element"><img src="img/image2.jpg"><p>Описание 2</p></li>
			  <li class="carousel-element"><img src="img/image3.jpg"><p>Описание 3</p></li>
			  <li class="carousel-element"><img src="img/image4.jpg"><p>Описание 4</p></li>
			  <li class="carousel-element"><img src="img/image5.jpg"><p>Описание 5</p></li>
			  <li class="carousel-element"><img src="img/image6.jpg"><p>Описание 6</p></li>
			  <li class="carousel-element"><img src="img/image7.jpg"><p>Описание 7</p></li>
			  <li class="carousel-element"><img src="img/image8.jpg"><p>Описание 8</p></li>
			  <li class="carousel-element"><img src="img/image9.jpg"><p>Описание 9</p></li>
			  <li class="carousel-element"><img src="img/image10.jpg"><p>Описание 10</p></li>
			  <li class="carousel-element"><img src="img/image3.jpg"><p>Описание 11</p></li>
			  <li class="carousel-element"><img src="img/image4.jpg"><p>Описание 12</p></li>
			</ul>
		</div>
		<div class="carousel-arrow-right"><span>Вправо</span></div>
	</div>
	<hr>
	<!-- insertion -->
	<script type="text/template" id="tmp">
		<h1>test</h1>
		<p><%= test %></p>
		<p>===========</p>
		<p><%= test2 %></p>

<!-- ==================================== -->
	<div class="text_block">
        <div class="bold_text">Хочу вивчати фронтенд томущо:</div>
        	<ul>
                <li><span>"Я в АйТи хочу пойти</span></li>
                <li><span>Я в АйТи хочу пойти</span></li>
                <li><span>Может к тридцати пяти</span></li>
        		<li><span>Я тогда войду в АйТи"(с)</span></li>
       		</ul>
        </div>
        	<div class="text_block">
        		<div class="bold_text">Мій контактний телефон:</div>
        		<p>+380962139157</p>
        		<div class="bold_text">Мій профіль у Фейсбук:</div>
        		<p><a href="https://www.facebook.com/profile.php?id=100002572048895">Профіль</a></p>
        </div>
        <!--=======FIDBACK SECTION=======-->
        <div class="text_block">
        	<div class="bold_text">Мій фідбек</div>
        	<p>Якщо потрібно, можу працювати, можу "не працювати"(але подвійна оплата).</p>
        </div>
    </div>
<!-- ==================================== -->

	</script>

</body>

</html>